.contact {
  height: 30rem;
  padding: 7.5rem 0;

  & .container {
    max-width: 111rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    max-width: 44rem;
    margin: 2.4rem 0;

    & > p {
      margin: 4rem 0 4rem 0;
    }
  }
}
